body
  {
    margin: 0;
    padding: 0;
    background: url(4.jpg) no-repeat;
    background-size: cover;
    padding:20px;
    font-size: 100%;
    font-family: Arial, Helvetica, sans-serif;
}
.splitview {
    position: relative;
    width: 100%;
    min-height: 45vw;
    overflow: hidden;
}

.panel {
    position: absolute;
    width: 100vw;
    min-height: 45vw;
    overflow: hidden;
}

    .panel .content {
        position: absolute;
        width: 100vw;
        min-height: 45vw;
        color: #FFF;
    }

    .panel .description {
        width: 25%;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        text-align: center;
    }

    .panel img {
        box-shadow: 0 0 40px 40px rgba(0, 0, 0, 0.15);
        position: absolute;
        top: 50%;
        left: 45%;
        transform: translate(-50%, -50%);
    }

.bottom {
    background-color: rgb(44, 44, 44);
    z-index: 1;
}

    .bottom .description {
        right: 10%;
    }

.top {
    background-color: rgb(77, 69, 173);
    z-index: 2;
    width: 50vw;
}

    .top .description {
        left: 5%;
    }

/* Handle. */
.handle {
    height: 100%;
    position: absolute;
    display: block;
    background-color: rgb(253, 171, 0);
    width: 5px;
    top: 0;
    left: 50%;
    z-index: 3;
}

/* Skewed. */
.skewed .handle {
    top: 50%;
    transform: rotate(30deg) translateY(-50%);
    height: 200%;
    -webkit-transform-origin: top;
    -moz-transform-origin: top;
    transform-origin: top;
}

.skewed .top {
    transform: skew(-30deg);
    margin-left: -1000px;
    width: calc(50vw + 1000px);
}

.skewed .top .content {
    transform: skew(30deg);
    margin-left: 1000px;
}

/* Responsive. */
@media (max-width: 900px) {
    body {
        font-size: 75%;
    }
}
  .box{
      width: 1100px;
      background: rgba(100, 147, 147, 0.425);
      padding: 40px;
      text-align: center;
      margin: auto;
      margin-top: 5%;
      color: white;
      font-family: 'Century Gothic',sans-serif;
    }  
    
    .box h1{
      font-size: 40px;
      letter-spacing: 4px;
      font-weight: 100;
      color: rgb(245, 245, 245);
      font-style: oblique;
    }
   
table {
  border : none;
  border-collapse: collapse;
}
td{
  padding: 5px;
  border: none;
}
input[type=text]{
  padding: 10px;
  width: 410px;
  border-style: solid;
  text-align: center;
  font-size: 16px;
}
input[type=text]:disabled{
  background-color: white;
}
.btn {
  width: 100px;
  height: 40px;
  background-color: #808080;
    border: none;
    color: white;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
}
.opr{
  background-color: #A0522D;
}
.clr{
  background-color: #FF6347;
}
.hsl{
  background-color: #8B4513;
}

  th
  {
    color: black;
  }
  tbody
  {
    color: black;
  }

  h1 
  {
   text-align: center;
  }
 
  #icon
  {
    width: 30px;
    margin-top: 6px;
  }

  #footer 
  {
    height: 50px;
    margin: center;
  }

  #footer1
  {
    margin :center;
    padding: 5px;
  }

#slider {
  width: 2000px;
  height: 2000px;
  overflow: hidden;
  border: 1px solid #c69;
}

.slide {
  width: 1000px;
  height: 100px;
  margin-top: 160px;
  float: right;
  position: relative;
}

#slide-holder {
  width: 1000%;
  width: 1500px;
  margin-top: 50px;
  position: relative;
  left: 0;
  -webkit-animation: scroller 10s infinite;
          animation: scroller 10s infinite;
}

@-webkit-keyframes scroller {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  33% {
    -webkit-transform: translateX(-400px);
            transform: translateX(-400px);
  }
  66% {
    -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes scroller {
  0% {
    -webkit-transform: translateX(-200);
            transform: translateX(-200);
  }
  33% {
    -webkit-transform: translateX(-300px);
            transform: translateX(-300px);
  }
  66% {
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
body {
  font-family: sans-serif;
}

#slider {
  margin: 0 auto;
}

.slide:nth-child(1) {
  background: #c69;
}

.slide:nth-child(2) {
  background: wheat;
}

.slide:nth-child(3) {
  background: #eee;
}